<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Rapid Prototyping In The Browser | Patrick Arlt</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/esri.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/tomorrow-night.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <a href="https://github.com/patrickarlt/introducing-terraformer-slides"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork on GitHub"></a>

    <div class="reveal">

      <div class="slides">
        <section data-state="title">
          <h1>Rapid Prototyping In The Browser</h1>
          <h3>Patrick Arlt</h3>
          <p><small>Designer/Developer Portland R&D Center – <a href="http://twitter.com/patrickarlt">@patrickarlt</a></small>
          </p>
        </section>

        <section data-markdown>
          ## Why Protoype

          * Sell ideas to shareholders
          * Document what a project will look and function like
          * Test concepts and ideas
        </section>

        <section data-markdown>
          ## Where Prototypes Fall Short

          * Not interactive
          * Dont represent the styling (ex. Balsamiq)
          * Missing important parts (ex. button color)
        </section>

        <section data-markdown data-state="title">
          ## In Browser Prototypes
        </section>

        <section data-markdown>
          ## Better then wireframes
          * Real interactions
          * CSS styling
          * Head start on frontend work
          * Easier to change your mind
        </section>

        <section data-markdown>
          ## Whiteboard and Sketch
          Get all your ideas out as fast as possible
          ![Wireframe](images/wireframe.png)
        </section>

        <section data-markdown>
          ## Build Directly in a Browser
          Start building in a browser using HTML/CSS/JS
        </section>

        <section data-markdown data-state="title">
          ## Resources
        </section>

        <section data-markdown>
          ## CSS Frameworks

          Using a framework **hugely** accelerates the speed at which you can build a prototype

          * [Bootstrap](http://twitter.github.io/bootstrap/)
          * [Foundation](http://foundation.zurb.com/)
          * [Gumby](gumbyframework.com)
        </section>

        <section data-markdown>
          ### [Foundation](http://foundation.zurb.com/)
          ![Foundation](images/foundation.png)
        </section>

        <section data-markdown>
          ## More Ideas

          * [Yeoman](http://yeoman.io/)
          * [Angular JS](http://angularjs.org/)
          * [Markdown](http://daringfireball.net/projects/markdown/)
          * Static Site Generators, [Middleman](middlemanapp.com), [Jeykll](http://jekyllrb.com/), [DocPad](https://github.com/bevry/docpad)
        </section>

        <section data-markdown>
          #### [Yeoman](http://yeoman.io/)
          ![Yeoman](images/yeoman.png)
        </section>

        <section>
          <h3><a href="angularjs.org">Angular.js</a></h3>
          <pre><code>&lt;div ng-controller=&quot;TodoCtrl&quot;&gt;
  &lt;span&gt;{{remaining()}} of {{todos.length}} remaining&lt;/span&gt;
  [ &lt;a href=&quot;&quot; ng-click=&quot;archive()&quot;&gt;archive&lt;/a&gt; ]
  &lt;ul class=&quot;unstyled&quot;&gt;
    &lt;li ng-repeat=&quot;todo in todos&quot;&gt;
      &lt;input type=&quot;checkbox&quot; ng-model=&quot;todo.done&quot;&gt;
      &lt;span class=&quot;done-{{todo.done}}&quot;&gt;{{todo.text}}&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;form ng-submit=&quot;addTodo()&quot;&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;todoText&quot;  size=&quot;30&quot;
           placeholder=&quot;add new todo here&quot;&gt;
    &lt;input class=&quot;btn-primary&quot; type=&quot;submit&quot; value=&quot;add&quot;&gt;
  &lt;/form&gt;
&lt;/div&gt;</code></pre>
        </section>

        <section>
          <h3><a href="http://daringfireball.net/projects/markdown/">Markdown</a></h3>
          <pre><code># This is markdown

            Its pretty dang simple, it even does things like [Links](http://esri.com).

            * It
            * Also
            * Does
            * Lists

            ![and images](http://myimage.png)
          </code></pre>
        </section>

        <section data-markdown>
          ### [Middleman](middlemanapp.com)
          ![Middleman](images/middleman.png)
        </section>

        <section data-markdown>
          ## So...

          1. Whiteboard and Sketch
          2. Leverage Frameworks
          3. Prototype in a Browser
        </section>

        <section data-state="title">
          <h2>Thanks</h2>
          <p><small><a href="https://github.com/esri/Terraformer">https://github.com/esri/Terraformer</a> / <a href="http://twitter.com/patrickarlt">@patrickarlt</a></small></p>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: "esri",
        transition: 'linear',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

      Reveal.addEventListener("map1", function () {
        map1 = L.map('map1').setView([45.5165, -122.6764], 12);
        L.esri.tileLayer("Topographic").addTo(map1);
      });
    </script>

  </body>
</html>
